.h2 {
    font-size: 2rem;
}

.h1 {
    font-family: "BOMBFONT";
    color: black;
    font-size: 20rem;
    text-align: center;
}

/* @media(max-width: 600px) {

    .container {
        display: flex;
    }

    .h1 {
        font-family: "BOMBFONT";
        color: black;
        font-size: 5rem;
        justify-content: center;
        animation-duration: 1s;
        animation-name: fadein;
    }

    .can {
        margin-top: 1rem;
        animation-duration: 2s;
        animation-name: slideacross;
    }

} */

