.about-header {
    color: black;
    font-family: "BOMBFONT";
    font-size: 10rem;
}

.box {
    position: relative;
    top: 10rem;
    background-color: grey;
    display: flex;
    width: 50vw;
    height: 20rem;
    margin: 0 auto;
    border-style: solid;
    border-color: black;
    border-width: 0.5rem;
    /* border-radius: 2rem; */
}

.pkat {
    width: 15rem;
}

.text-side {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: start;
}

.face-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    color: white; 
    font-family: "Courier";
    font-size: 3rem;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: typing 4s steps(60, end); 
}
.text2 {
    color: white; 
    font-family: "Courier";
    font-size: 3rem;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: typing 4s steps(60, end); 
}

@keyframes typing {
    from { width: 0; }
  }

  @media(max-width: 990px){

    .box {
        position: relative;
        top: 1rem;
        background-color: grey;
        display: flex;
        width: 95vw;
        height: 10rem;
    }

    .pkat {
        width: 5rem;
    }

    .text {
        color: white; 
        font-family: "Courier";
        font-size: 1rem;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        width: 10em;
        animation: typing 4s steps(60, end); 
    }

    .text2 {
        color: white; 
        font-family: "Courier";
        font-size: 0.75rem;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        width: 7.5em;
        animation: typing 4s steps(60, end); 
    }
    
    .text-side {
        display: flex;
        width: 80%;
        flex-direction: column;
        justify-content: start;
    }

    .face-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

  }


