.about-header {
    color: black;
    font-family: "BOMBFONT";
    font-size: 10rem;
}

.box {
    position: relative;
    top: 10rem;
    background-color: grey;
    display: flex;
    width: 95vw;
    height: 15rem;
    margin: 0 auto;
    border-style: solid;
    border-color: black;
    border-radius: 2rem;
}

/* .face-side { */
    /* background-color: grey; */
/* } */

.pkat {
    height: 15rem;
    width: 15rem;
}

.text-side {
    /* background-color: grey; */
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: start;
}
.text {
    color: white; 
    font-family: "Courier";
    font-size: 3rem;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: typing 4s steps(60, end); 
}
.text2 {
    color: white; 
    font-family: "Courier";
    font-size: 3rem;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: typing 4s steps(60, end); 
}

@keyframes typing {
    from { width: 0; }
  }

  @media(max-width: 990px){

    .text-box {
        position: relative;
        top: -1rem;
        background-color: grey;
        display: flex;
        width: 100vw;
        height: 10rem;
    }

    .pkat {
        height: 5rem;
        width: 5rem;
    }

    .text {
        color: white; 
        font-family: "Courier";
        font-size: 1.5rem;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        width: 15em;
        animation: typing 4s steps(60, end); 
    }

    .text2 {
        color: white; 
        font-family: "Courier";
        font-size: 1.5rem;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        width: 15em;
        animation: typing 4s steps(60, end); 
    }
    
    .text-side {
        background-color: grey;
        display: flex;
        width: 80%;
        flex-direction: column;
    }
  }


