.Navbar {
    top: 0;
    height: 15rem;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: white;
}

.wink {
    width: 15rem;
}

.nowink {
    width: 15rem;
}

.link {
    color: pink;
    text-decoration: none;
    font-size: 4vw;
    font-family: "BOMBFONT";
}

.link:hover {
    color:black;
}

.borger {
    cursor: pointer;
}

.Navbar .Navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Navbar .Navigation .NavLinks {
    list-style-type: none;
    display: flex;
    gap: 5rem;
}

.Navbar .MobileNavigation .NavLinks {
    list-style-type: none;
}

.Navbar .MobileNavigation {
    display: none;
}




@media(max-width: 990px){
    .Navbar {
        top: 0;
        height: 6rem;
        width: 100vw;
        position: fixed;
        z-index: 999;
        background-color: white;
    }

    .wink {
        width: 5rem;
    }
    
    .nowink {
        width: 5rem;
    }

    .link {
        color: black;
        text-decoration: none;
        font-family: "BOMBFONT";
        font-size: 5rem;
    
    }

    .borger {
        width: 3rem;
    }
    .Navbar .Navigation {
        display: none;
    }
    .Navbar .MobileNavigation {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .Navbar .MobileNavigation .NavLinks{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 5rem;
        width: 100%;
        background-color: white;
        border-top: 2px solid black;
    }

    .Navbar .MobileNavigation .NavLinks .link {
        font-size: 3rem;
    }
}