.navbar{
    width: 100vw;
}

.list {
    list-style-type: none;
    display: flex;
    gap: 5%;
    align-items: center;
}

.logo {
    width: 15rem;
}

.logo2 {
    width: 15rem;
}

.link {
    color: black;
    text-decoration: none;
    font-family: "BOMBFONT";
    font-size: 5rem;
}



/* @media(max-width: 600px) {

    .list {
        list-style-type: none;
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .logo {
        width: 4rem;
    }

    .logo2 {
        width: 4rem;
    }

    .link {
        color: black;
        text-decoration: none;
        font-family: "BOMBFONT";
        font-size: 1.5rem;
    }
    
} */