.project-header {
    color: black;
    font-family: "BOMBFONT";
    font-size: 10rem;
}


.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15rem;
    justify-items: center;
    align-items: center;
    justify-content: center;
}



